@import "@/styles/_core.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.img-ratio {
  position: relative;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}

.img-ratio img,
.img-ratio iframe,
.img-ratio video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  /* hoáº·c contain, fill... */
  transition: .3s ease-in-out all;
}

.lozad {
  opacity: 0;
  filter: blur(10px);
  transition: .3s all ease-in-out;
}

.lozad[data-loaded="true"] {
  opacity: 1;
  filter: blur(0);
}